{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
